#main{
    background-color: #cccccc;
    margin-top: 40px;
    border-radius: 5px;
}


.container {
    max-width: 700px;
}

#HeaderRow{
    margin-top: 10px;
    margin-bottom: 5px;
}


.close:hover{
    color:#D62222;
}