<!DOCTYPE html>
<html lang="en" ng-app="Todo">
<head>
    <title>Angular Todo with Firebase!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="mycontroller">

<div id="main" class="container">

<div class="row">
    <input class="col-lg-4" ng-model="myTask" placeholder="Add a new task here">
    <button type="button" class="btn" ng-click="save()">Save</button>
</div>
    <div class="row">
        <h2>{{myTask}}</h2>
    </div>
 <dl class="dl-horizontal row"  ng-repeat="y in todoList">
<dt>
    <h2>{{y.x}}</h2>
</dt>
<dd><h2>{{y.x + " " + "Della"}}</h2></dd>
 </dl>
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type="text/javascript" src="js/angularFire.js"></script>
<script type="text/javascript" src="js/Todo.js"></script>
<script type="text/javascript" src="js/mycontroller.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>