<!DOCTYPE html>
<html lang="en" ng-app="Todo">
<head>
    <title>Angular Todo with Firebase!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="mycontroller">

<div id="main" class="container">

    <div class="row">
        <div class="col-lg-4 col-offset-3"><input type="text" class="form-control pull-left" ng-model="myTask" placeholder="Add a new task here" /></div>
        <div class="col-lg-2">
            <button type="button" class="btn" ng-click="save()">Save</button>
        </div>


    </div>
    <dl class="dl-horizontal row"  ng-repeat="y in todoList">
<dt class="col-lg-4">
    <h3>{{y.x}}</h3>
</dt>
     <dd class="col-lg-6"><h4>{{y.x + " " + "Della"}}</h4></dd>
 </dl>
    <h2>{{myTask}}</h2>
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type="text/javascript" src="js/angularFire.js"></script>
<script type="text/javascript" src="js/Todo.js"></script>
<script type="text/javascript" src="js/mycontroller.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>